      {% load static %}
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item {{acc_home}}"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item {{acc_about}}"><a class="rd-nav-link" href="{% url 'about' %}">About Us</a>
                      </li>
                      <li class="rd-nav-item {{acc_gallery}}"><a class="rd-nav-link" href="{% url 'gallery' %}">Gallery</a>
                      </li>
                      <li class="rd-nav-item {{acc_contact}}"><a class="rd-nav-link" href="{% url 'contact' %}">Contacts</a>
                      </li>
                    </ul>
                    {% if user.is_authenticated %}
                      <a class="button button-danger button-sm" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                      <a class="button button-primary button-sm" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                    
                  </div>
                </div>
                    {% if user.is_authenticated %}
                      <a class="button button-danger button-sm" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                      <a class="button button-primary button-sm" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
              </div>
            </div>
          </nav>
        </div>
      </header>